.about
    &-section
        background-color: $gray
    &-title
        &__badge
            color: darken($white, 50%)
            text-transform: uppercase
            cursor: default
    &-block
        padding: 75px 0 110px
    &-img
        width: 100%
        &-block
            // position: relative
            transform-style: preserve-3d
            display: block
            margin-top: 60px
            &::after
                position: absolute
                transform: translateZ(-1px)
                right: -78px
                bottom: -78px 
                content: ''
                z-index: 1
                background-color: darken($red, 10%)
                // height: 50%
                width: 50%  
                padding-top: 50%
                border-radius: 50%
    &-text
        margin-left: 70px
        position: relative
        &::before
           position: absolute
           left: -70px
           top: 10px 
           content: ''
           z-index: 555
           background-color: $white
           height: 3px
           width: 55px     