.contact
    &s-block
        max-width: 320px
        margin-right: auto
        margin-left: auto
        padding: 25px 0 90px
        &__modal
            margin-right: 0
            margin-left: 6px
        & a
            font-size: 23px
    &s-container
        text-align: center    
    &-item
        & svg
            margin-right: 15px
#modal-form_checkbox
    margin-top: 15px
@media   ( max-width: 576px )
    .contacts-block
        & a
            font-size: 18px