.footer
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 0px
    &-section
        background-color: $gray
    &-link
        &__img
            opacity: 50%
            max-width: 81px