footer
    background-color: $gray
.footer
    &-wrapper
        padding: 25px 0 
        & a
            margin-top: 20px
            display: 

@media ( min-width: 576px )      
    .footer
        &-wrapper
            & a
                margin-top: 0
                display: inline