header
    padding: 13px 0

.header
    &-container
        display: flex
        justify-content: space-between
        align-items: center
    &-navbar
        margin-left: 15%
        &__item
            margin-right: 40px        