$white: #fff
$black: #000
$gray: #191919
$red: #c33636

body
    background-color: $black
    color: $white
    font-family: 'Montserrat', sans-serif

a
    text-decoration-color: $red
    color: inherit
    &.btn
        padding: 6px 17px
        border-radius: 10px
        &-white
            background-color: $white
            color: $black

