$white: #fff
$black: #000
$gray: #191919
$red: #c33636

body
    background-color: $black
    color: $white
    font-family: 'Montserrat', sans-serif
    font-weight: 600
    overflow-x: hidden

a
    text-decoration-color: $red
    color: inherit
    &:not(.btn):hover
        text-decoration: none
        color: $red        
.btn
    padding: 6px 17px
    border-radius: 10px
    &-white
        background-color: $white
        color: $black
.section-title
    font-size: 55px
    font-weight: 700
    cursor: default
